<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skillexchange_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{491,435}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{491,435}}</string>
                <key>sourceSize</key>
                <string>{491,435}</string>
            </dict>
            <key>skillexchange_btn_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,596},{38,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,37}}</string>
                <key>sourceSize</key>
                <string>{38,37}</string>
            </dict>
            <key>skillexchange_btn_exhange.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,439},{225,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,75}}</string>
                <key>sourceSize</key>
                <string>{225,75}</string>
            </dict>
            <key>skillexchange_checkbox_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,596},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{30,30}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>skillexchange_checkbox_label.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,596},{37,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,36}}</string>
                <key>sourceSize</key>
                <string>{37,36}</string>
            </dict>
            <key>skillexchange_fish_number_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,439},{123,35}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,35}}</string>
                <key>sourceSize</key>
                <string>{125,35}</string>
            </dict>
            <key>skillexchange_icon_fish.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,633},{41,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,35}}</string>
                <key>sourceSize</key>
                <string>{41,35}</string>
            </dict>
            <key>skillexchange_icon_skill_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,592},{89,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,121}}</string>
                <key>sourceSize</key>
                <string>{89,121}</string>
            </dict>
            <key>skillexchange_icon_skill_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,516},{118,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,138}}</string>
                <key>sourceSize</key>
                <string>{118,138}</string>
            </dict>
            <key>skillexchange_icon_skill_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,476},{118,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,122}}</string>
                <key>sourceSize</key>
                <string>{118,122}</string>
            </dict>
            <key>skillexchange_icon_skill_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,439},{151,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,151}}</string>
                <key>sourceSize</key>
                <string>{151,151}</string>
            </dict>
            <key>skillexchange_label_skill_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,554},{71,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,37}}</string>
                <key>sourceSize</key>
                <string>{71,37}</string>
            </dict>
            <key>skillexchange_label_skill_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,516},{73,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,36}}</string>
                <key>sourceSize</key>
                <string>{73,36}</string>
            </dict>
            <key>skillexchange_label_skill_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,593},{70,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,38}}</string>
                <key>sourceSize</key>
                <string>{70,38}</string>
            </dict>
            <key>skillexchange_skill_number_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,592},{114,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,42}}</string>
                <key>sourceSize</key>
                <string>{114,42}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skillexchange_sprites.png</string>
            <key>size</key>
            <string>{507,708}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f97962d07342a45f4cdf5f62d377c1bb$</string>
            <key>textureFileName</key>
            <string>skillexchange_sprites.png</string>
        </dict>
    </dict>
</plist>
