<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>again.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,724},{190,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,67}}</string>
                <key>sourceSize</key>
                <string>{190,67}</string>
            </dict>
            <key>f_share_bt.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{180,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,62}}</string>
                <key>sourceSize</key>
                <string>{180,62}</string>
            </dict>
            <key>free_continue.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,724},{181,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,58}}</string>
                <key>sourceSize</key>
                <string>{181,58}</string>
            </dict>
            <key>gameover_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{594,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{594,720}}</string>
                <key>sourceSize</key>
                <string>{594,720}</string>
            </dict>
            <key>next.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,951},{190,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,67}}</string>
                <key>sourceSize</key>
                <string>{190,67}</string>
            </dict>
            <key>over_claw.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,2},{53,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,44}}</string>
                <key>sourceSize</key>
                <string>{53,44}</string>
            </dict>
            <key>over_coin_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,916},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>over_fish_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,2},{46,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,56}}</string>
                <key>sourceSize</key>
                <string>{46,56}</string>
            </dict>
            <key>over_mint_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,2},{74,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,59}}</string>
                <key>sourceSize</key>
                <string>{74,59}</string>
            </dict>
            <key>star_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,724},{225,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,27}}</string>
                <key>sourceSize</key>
                <string>{225,27}</string>
            </dict>
            <key>win_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,724},{448,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{448,286}}</string>
                <key>sourceSize</key>
                <string>{448,286}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameoverlayer_sprites.png</string>
            <key>size</key>
            <string>{960,1020}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c0433e82103516d308156e3f1530977e$</string>
            <key>textureFileName</key>
            <string>gameoverlayer_sprites.png</string>
        </dict>
    </dict>
</plist>
