<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet_electronic_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,184},{76,81}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,9},{76,81}}</string>
                <key>sourceSize</key>
                <string>{98,93}</string>
            </dict>
            <key>bullet_electronic_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{80,85}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,6},{80,85}}</string>
                <key>sourceSize</key>
                <string>{98,93}</string>
            </dict>
            <key>bullet_electronic_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,89},{94,93}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,93}}</string>
                <key>sourceSize</key>
                <string>{98,93}</string>
            </dict>
            <key>bullet_electronic_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{96,87}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{96,87}}</string>
                <key>sourceSize</key>
                <string>{98,93}</string>
            </dict>
            <key>bullet_electronic_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,91},{94,91}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{94,91}}</string>
                <key>sourceSize</key>
                <string>{98,93}</string>
            </dict>
            <key>bullet_electronic_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{98,85}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{98,85}}</string>
                <key>sourceSize</key>
                <string>{98,93}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bullet_electronic.png</string>
            <key>size</key>
            <string>{200,266}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d35eec87a774ffae079aef11447da51a$</string>
            <key>textureFileName</key>
            <string>bullet_electronic.png</string>
        </dict>
    </dict>
</plist>
