<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_ghost_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{69,74}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,74}}</string>
                <key>sourceSize</key>
                <string>{69,82}</string>
            </dict>
            <key>eff_ghost_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,2},{65,78}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{65,78}}</string>
                <key>sourceSize</key>
                <string>{69,82}</string>
            </dict>
            <key>eff_ghost_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{59,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{59,82}}</string>
                <key>sourceSize</key>
                <string>{69,82}</string>
            </dict>
            <key>eff_ghost_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{67,82}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{67,82}}</string>
                <key>sourceSize</key>
                <string>{69,82}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_ghost.png</string>
            <key>size</key>
            <string>{201,170}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:10d5d3e2b31c36a023d4a343a5058e27$</string>
            <key>textureFileName</key>
            <string>eff_ghost.png</string>
        </dict>
    </dict>
</plist>
