<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_meteorite_boom_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,436},{180,181}}</string>
                <key>offset</key>
                <string>{8,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,29},{180,181}}</string>
                <key>sourceSize</key>
                <string>{420,323}</string>
            </dict>
            <key>eff_meteorite_boom_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,436},{282,271}}</string>
                <key>offset</key>
                <string>{4,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,16},{282,271}}</string>
                <key>sourceSize</key>
                <string>{420,323}</string>
            </dict>
            <key>eff_meteorite_boom_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,191},{400,243}}</string>
                <key>offset</key>
                <string>{2,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,78},{400,243}}</string>
                <key>sourceSize</key>
                <string>{420,323}</string>
            </dict>
            <key>eff_meteorite_boom_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{420,187}}</string>
                <key>offset</key>
                <string>{0,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,92},{420,187}}</string>
                <key>sourceSize</key>
                <string>{420,323}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_meteorite_boom.png</string>
            <key>size</key>
            <string>{469,709}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c9e33c313e05df6d0c90db42b6234a27$</string>
            <key>textureFileName</key>
            <string>eff_meteorite_boom.png</string>
        </dict>
    </dict>
</plist>
