<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bonus_2_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,62}}</string>
                <key>sourceSize</key>
                <string>{46,62}</string>
            </dict>
            <key>bonus_2_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,2},{46,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,62}}</string>
                <key>sourceSize</key>
                <string>{46,62}</string>
            </dict>
            <key>bonus_2_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{46,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,62}}</string>
                <key>sourceSize</key>
                <string>{46,62}</string>
            </dict>
            <key>bonus_2_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{46,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,62}}</string>
                <key>sourceSize</key>
                <string>{46,62}</string>
            </dict>
            <key>bonus_2_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{46,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,62}}</string>
                <key>sourceSize</key>
                <string>{46,62}</string>
            </dict>
            <key>bonus_2_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{46,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,62}}</string>
                <key>sourceSize</key>
                <string>{46,62}</string>
            </dict>
            <key>bonus_2_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,66},{46,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,62}}</string>
                <key>sourceSize</key>
                <string>{46,62}</string>
            </dict>
            <key>bonus_2_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,66},{46,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,62}}</string>
                <key>sourceSize</key>
                <string>{46,62}</string>
            </dict>
            <key>bonus_2_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,66},{46,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,62}}</string>
                <key>sourceSize</key>
                <string>{46,62}</string>
            </dict>
            <key>bonus_2_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,66},{46,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,62}}</string>
                <key>sourceSize</key>
                <string>{46,62}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eff_bonus_2.png</string>
            <key>size</key>
            <string>{242,130}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1fe591a276fccddd0baae34ea56b9444$</string>
            <key>textureFileName</key>
            <string>eff_bonus_2.png</string>
        </dict>
    </dict>
</plist>
