<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_bubble_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,150},{97,70}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,10},{97,70}}</string>
                <key>sourceSize</key>
                <string>{101,80}</string>
            </dict>
            <key>effect_bubble_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,222},{91,74}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{91,74}}</string>
                <key>sourceSize</key>
                <string>{101,80}</string>
            </dict>
            <key>effect_bubble_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,169},{85,72}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{85,72}}</string>
                <key>sourceSize</key>
                <string>{101,80}</string>
            </dict>
            <key>effect_bubble_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,169},{79,74}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{79,74}}</string>
                <key>sourceSize</key>
                <string>{101,80}</string>
            </dict>
            <key>effect_bubble_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,243},{77,76}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{77,76}}</string>
                <key>sourceSize</key>
                <string>{101,80}</string>
            </dict>
            <key>effect_bubble_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,166},{93,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,68}}</string>
                <key>sourceSize</key>
                <string>{93,68}</string>
            </dict>
            <key>effect_bubble_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,166},{82,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,64}}</string>
                <key>sourceSize</key>
                <string>{82,64}</string>
            </dict>
            <key>effect_bubble_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,222},{75,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,63}}</string>
                <key>sourceSize</key>
                <string>{75,63}</string>
            </dict>
            <key>effect_bubble_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{188,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,165}}</string>
                <key>sourceSize</key>
                <string>{188,165}</string>
            </dict>
            <key>effect_bubble_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,2},{146,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,147}}</string>
                <key>sourceSize</key>
                <string>{146,147}</string>
            </dict>
            <key>effect_bubble_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{162,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,163}}</string>
                <key>sourceSize</key>
                <string>{162,163}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_bubble.png</string>
            <key>size</key>
            <string>{511,321}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d7093c3fb5a44744d638c7327ea37cd2$</string>
            <key>textureFileName</key>
            <string>effect_bubble.png</string>
        </dict>
    </dict>
</plist>
