<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_electronic_big_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{263,242}}</string>
                <key>offset</key>
                <string>{2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,59},{263,242}}</string>
                <key>sourceSize</key>
                <string>{317,330}</string>
            </dict>
            <key>effect_electronic_big_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,2},{217,208}}</string>
                <key>offset</key>
                <string>{-5,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,74},{217,208}}</string>
                <key>sourceSize</key>
                <string>{317,330}</string>
            </dict>
            <key>effect_electronic_big_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,2},{293,308}}</string>
                <key>offset</key>
                <string>{-9,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{293,308}}</string>
                <key>sourceSize</key>
                <string>{317,330}</string>
            </dict>
            <key>effect_electronic_big_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,2},{221,240}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,44},{221,240}}</string>
                <key>sourceSize</key>
                <string>{317,330}</string>
            </dict>
            <key>effect_electronic_big_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{237,276}}</string>
                <key>offset</key>
                <string>{-12,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,24},{237,276}}</string>
                <key>sourceSize</key>
                <string>{317,330}</string>
            </dict>
            <key>effect_electronic_big_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,312},{203,258}}</string>
                <key>offset</key>
                <string>{7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,43},{203,258}}</string>
                <key>sourceSize</key>
                <string>{317,330}</string>
            </dict>
            <key>effect_electronic_small_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,312},{174,183}}</string>
                <key>offset</key>
                <string>{13,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,23},{174,183}}</string>
                <key>sourceSize</key>
                <string>{236,227}</string>
            </dict>
            <key>effect_electronic_small_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,312},{140,145}}</string>
                <key>offset</key>
                <string>{14,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,40},{140,145}}</string>
                <key>sourceSize</key>
                <string>{236,227}</string>
            </dict>
            <key>effect_electronic_small_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,312},{224,217}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{224,217}}</string>
                <key>sourceSize</key>
                <string>{236,227}</string>
            </dict>
            <key>effect_electronic_small_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,590},{162,149}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,36},{162,149}}</string>
                <key>sourceSize</key>
                <string>{236,227}</string>
            </dict>
            <key>effect_electronic_small_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,590},{212,195}}</string>
                <key>offset</key>
                <string>{4,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,5},{212,195}}</string>
                <key>sourceSize</key>
                <string>{236,227}</string>
            </dict>
            <key>effect_electronic_small_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,590},{188,143}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,39},{188,143}}</string>
                <key>sourceSize</key>
                <string>{236,227}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_electronic.png</string>
            <key>size</key>
            <string>{1004,787}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1eed933dfafc785df0b3c1505910093e$</string>
            <key>textureFileName</key>
            <string>effect_electronic.png</string>
        </dict>
    </dict>
</plist>
