<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_bossdead_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{85,91}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,7},{85,91}}</string>
                <key>sourceSize</key>
                <string>{113,103}</string>
            </dict>
            <key>effect_bossdead_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,87},{85,101}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,0},{85,101}}</string>
                <key>sourceSize</key>
                <string>{113,103}</string>
            </dict>
            <key>effect_bossdead_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,419},{87,85}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,12},{87,85}}</string>
                <key>sourceSize</key>
                <string>{113,103}</string>
            </dict>
            <key>effect_bossdead_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{99,85}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{99,85}}</string>
                <key>sourceSize</key>
                <string>{113,103}</string>
            </dict>
            <key>effect_bossdead_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{109,83}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{109,83}}</string>
                <key>sourceSize</key>
                <string>{113,103}</string>
            </dict>
            <key>effect_bossdead_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,261},{95,69}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{95,69}}</string>
                <key>sourceSize</key>
                <string>{113,103}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_bossdead.png</string>
            <key>size</key>
            <string>{113,508}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:067330c128945cbc1a659ceb67883cc0$</string>
            <key>textureFileName</key>
            <string>effect_bossdead.png</string>
        </dict>
    </dict>
</plist>
