<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>big_ice_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,524},{377,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{377,178}}</string>
                <key>sourceSize</key>
                <string>{377,178}</string>
            </dict>
            <key>big_ice_full_state_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,261},{461,261}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{461,261}}</string>
                <key>sourceSize</key>
                <string>{461,261}</string>
            </dict>
            <key>big_ice_full_state_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{505,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{505,282}}</string>
                <key>sourceSize</key>
                <string>{505,282}</string>
            </dict>
            <key>big_ice_full_state_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,2},{491,257}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{491,257}}</string>
                <key>sourceSize</key>
                <string>{491,257}</string>
            </dict>
            <key>big_ice_full_state_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{503,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{503,236}}</string>
                <key>sourceSize</key>
                <string>{503,236}</string>
            </dict>
            <key>small_ice_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,678},{125,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,59}}</string>
                <key>sourceSize</key>
                <string>{125,59}</string>
            </dict>
            <key>small_ice_full_state_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,524},{152,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,87}}</string>
                <key>sourceSize</key>
                <string>{152,87}</string>
            </dict>
            <key>small_ice_full_state_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,903},{166,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,94}}</string>
                <key>sourceSize</key>
                <string>{166,94}</string>
            </dict>
            <key>small_ice_full_state_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,903},{162,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,85}}</string>
                <key>sourceSize</key>
                <string>{162,85}</string>
            </dict>
            <key>small_ice_full_state_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,678},{166,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,78}}</string>
                <key>sourceSize</key>
                <string>{166,78}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_ice_piece.png</string>
            <key>size</key>
            <string>{1002,999}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:157ebf0f12b81579d9afa54a1ae3ad8b$</string>
            <key>textureFileName</key>
            <string>effect_ice_piece.png</string>
        </dict>
    </dict>
</plist>
