<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jg20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{54,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{54,41}}</string>
                <key>sourceSize</key>
                <string>{60,41}</string>
            </dict>
            <key>jg20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{60,39}}</string>
                <key>sourceSize</key>
                <string>{60,41}</string>
            </dict>
            <key>jg20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,43},{58,39}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{58,39}}</string>
                <key>sourceSize</key>
                <string>{60,41}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>laser_hitted.png</string>
            <key>size</key>
            <string>{64,127}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4e880e293756d6d5e1ffd0347dc4508b$</string>
            <key>textureFileName</key>
            <string>laser_hitted.png</string>
        </dict>
    </dict>
</plist>
