<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jg10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,2},{15,982}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{15,982}}</string>
                <key>sourceSize</key>
                <string>{29,1000}</string>
            </dict>
            <key>jg10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,2},{15,982}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{15,982}}</string>
                <key>sourceSize</key>
                <string>{29,1000}</string>
            </dict>
            <key>jg10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{27,2},{21,982}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{21,982}}</string>
                <key>sourceSize</key>
                <string>{29,1000}</string>
            </dict>
            <key>jg10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{23,982}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{23,982}}</string>
                <key>sourceSize</key>
                <string>{29,1000}</string>
            </dict>
            <key>jg10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,2},{21,982}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{21,982}}</string>
                <key>sourceSize</key>
                <string>{29,1000}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>laser_light.png</string>
            <key>size</key>
            <string>{107,986}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1e06947e8f6fcb87351cd0b6f7c5d4fe$</string>
            <key>textureFileName</key>
            <string>laser_light.png</string>
        </dict>
    </dict>
</plist>
