<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>missile_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,2},{75,78}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,26},{75,78}}</string>
                <key>sourceSize</key>
                <string>{113,118}</string>
            </dict>
            <key>missile_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{107,110}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{107,110}}</string>
                <key>sourceSize</key>
                <string>{113,118}</string>
            </dict>
            <key>missile_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,120},{91,92}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{91,92}}</string>
                <key>sourceSize</key>
                <string>{113,118}</string>
            </dict>
            <key>missile_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{113,116}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,116}}</string>
                <key>sourceSize</key>
                <string>{113,118}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>missile_effect.png</string>
            <key>size</key>
            <string>{204,232}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf74357fc773fd9f13a5a5c74834d61f$</string>
            <key>textureFileName</key>
            <string>missile_effect.png</string>
        </dict>
    </dict>
</plist>
