<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gamebg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{720,1280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,1280}}</string>
                <key>sourceSize</key>
                <string>{720,1280}</string>
            </dict>
            <key>gamebg_1_birds.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,406},{156,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,143}}</string>
                <key>sourceSize</key>
                <string>{156,143}</string>
            </dict>
            <key>gamebg_1_cloud_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,2},{246,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,78}}</string>
                <key>sourceSize</key>
                <string>{246,78}</string>
            </dict>
            <key>gamebg_1_cloud_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,325},{240,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,79}}</string>
                <key>sourceSize</key>
                <string>{240,79}</string>
            </dict>
            <key>gamebg_1_windmill_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,82},{241,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{241,245}}</string>
                <key>sourceSize</key>
                <string>{251,253}</string>
            </dict>
            <key>gamebg_1_windmill_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,406},{106,109}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{106,109}}</string>
                <key>sourceSize</key>
                <string>{124,125}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gamebg_1_sprites.png</string>
            <key>size</key>
            <string>{993,1284}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bca9324a97b936d7ae46b59306737576$</string>
            <key>textureFileName</key>
            <string>gamebg_1_sprites.png</string>
        </dict>
    </dict>
</plist>
