<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bottombar.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,117},{720,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,81}}</string>
                <key>sourceSize</key>
                <string>{720,81}</string>
            </dict>
            <key>bullet.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,93},{19,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,36}}</string>
                <key>sourceSize</key>
                <string>{19,36}</string>
            </dict>
            <key>bullet_number_circle_index_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,581},{53,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,52}}</string>
                <key>sourceSize</key>
                <string>{53,52}</string>
            </dict>
            <key>bullet_number_circle_index_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,364},{53,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,56}}</string>
                <key>sourceSize</key>
                <string>{53,56}</string>
            </dict>
            <key>bullet_number_circle_index_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,308},{54,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,56}}</string>
                <key>sourceSize</key>
                <string>{54,56}</string>
            </dict>
            <key>bullet_number_circle_index_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,419},{54,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,53}}</string>
                <key>sourceSize</key>
                <string>{54,53}</string>
            </dict>
            <key>bulletblank.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{214,113}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{214,113}}</string>
                <key>sourceSize</key>
                <string>{218,117}</string>
            </dict>
            <key>game_progress_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,181},{524,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{524,16}}</string>
                <key>sourceSize</key>
                <string>{528,24}</string>
            </dict>
            <key>game_progress_bar_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,181},{524,16}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{524,16}}</string>
                <key>sourceSize</key>
                <string>{528,24}</string>
            </dict>
            <key>game_progress_icon_monster.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,61},{36,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,30}}</string>
                <key>sourceSize</key>
                <string>{36,30}</string>
            </dict>
            <key>game_progress_icon_time.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,20},{37,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,39}}</string>
                <key>sourceSize</key>
                <string>{37,39}</string>
            </dict>
            <key>game_skill_number_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,118},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>gaming_stand_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{167,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,77}}</string>
                <key>sourceSize</key>
                <string>{167,77}</string>
            </dict>
            <key>gaming_stand_progress.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,111},{155,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,68}}</string>
                <key>sourceSize</key>
                <string>{155,68}</string>
            </dict>
            <key>gaming_stand_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,148},{133,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,54}}</string>
                <key>sourceSize</key>
                <string>{133,54}</string>
            </dict>
            <key>gaming_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,114},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>gaming_starfail.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,118},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>gunsicon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,117},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>hpBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,2},{120,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{120,16}}</string>
                <key>sourceSize</key>
                <string>{122,18}</string>
            </dict>
            <key>hpBarBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,81},{163,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{163,28}}</string>
                <key>sourceSize</key>
                <string>{167,32}</string>
            </dict>
            <key>hpBarBg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,20},{84,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,12}}</string>
                <key>sourceSize</key>
                <string>{84,12}</string>
            </dict>
            <key>hpBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,249},{693,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{693,68}}</string>
                <key>sourceSize</key>
                <string>{697,72}</string>
            </dict>
            <key>itemContainer.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,34},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>item_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,474},{40,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,54}}</string>
                <key>sourceSize</key>
                <string>{40,54}</string>
            </dict>
            <key>item_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,249},{57,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,59}}</string>
                <key>sourceSize</key>
                <string>{57,59}</string>
            </dict>
            <key>item_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,516},{53,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,63}}</string>
                <key>sourceSize</key>
                <string>{53,63}</string>
            </dict>
            <key>pase.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,635},{47,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,42}}</string>
                <key>sourceSize</key>
                <string>{47,42}</string>
            </dict>
            <key>progressbar_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,181},{530,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{530,25}}</string>
                <key>sourceSize</key>
                <string>{530,25}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gaming_sprites.png</string>
            <key>size</key>
            <string>{512,944}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:244e87f635f4364ef1213bb02b151f46$</string>
            <key>textureFileName</key>
            <string>gaming_sprites.png</string>
        </dict>
    </dict>
</plist>
